devices: (
	{
		name: "MX Vertical Advanced Ergonomic Mouse";
		hiresscroll: {
			hires: true;
			invert: false;
			target: false;
		};
		dpi: 1000;
		buttons: (
			{
				# Back button
				cid: 0x53;
				action: {
					type: "Gestures";
					gestures: (
						{
							direction: "Up";
							mode: "OnRelease";
							action: {
								type: "Keypress";
								keys: ["KEY_LEFTCTRL", "KEY_LEFTMETA", "KEY_UP"];
							};
						},
						{
							direction: "Left";
							mode: "OnRelease";
							action: {
								type: "Keypress";
								keys: ["KEY_LEFTCTRL", "KEY_LEFTMETA", "KEY_UP"];
							};
						},
						{
							direction: "Down";
							mode: "OnRelease";
							action: {
								type: "Keypress";
								keys: ["KEY_LEFTCTRL", "KEY_LEFTMETA", "KEY_DOWN"];
							};
						},
						{
							direction: "Right";
							mode: "OnRelease";
							action: {
								type: "Keypress";
								keys: ["KEY_D"];
							};
						}
					);
				};
			},
			{
				# Forward button
				cid: 0x56;
				action: {
					type: "Keypress";
					keys: [40];
				};
			},
			{
				# Switch Receivers
				cid: 0xd7;
				action: {
					type: "None"
				};
			},
			{
				# Mouse sensitivity
				cid: 0xfD;
				action: {
					type: "None"
				};
			}
		);
	}
);
